/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Variables */

:root {
  /* Colors */
  --color-primary: #1F314F;
  --color-text: #68778D;
  --color-background: #D5E1EF;
  --color-white: #fff;
  
  /* Design */
  --shadow-card: 0 25px 25px rgba(0,0,0, 4.77%);
  --max-width-card: 320px;
  --border-radius-card: 20px;
  --border-radius-img: 10px;

  /* Fonts */
  --font-primary: 'Outfit', sans-serif;
  --font-size-h1: 1.375rem;
  --font-size-text: .9375rem;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

body {
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
}

.card {
  background-color: var(--color-white);
  padding: 16px 16px 40px;
  border-radius: var(--border-radius-card);
  text-align: center;
  max-width: var(--max-width-card);
  box-shadow: var(--shadow-card);
}

.card img {
  border-radius: var(--border-radius-img);
}

h1 {
  color: var(--color-primary);
  font-size: var(--font-size-h1);
  margin-top: 24px;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: 0;
}

p {
  font-size: var(--font-size-text);
  color: var(--color-text);
  margin: 16px 16px 0;
  line-height: 1.4;
  letter-spacing: .2px;
  font-weight: var(--font-weight-regular);
}
